## .NET
bin/
obj/
publish/

## NuGet
*.nupkg
*.snupkg
**/packages/
project.lock.json
project.fragment.lock.json
artifacts/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
msbuild.log
msbuild.err
msbuild.wrn

## Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml
coverage/
*.coverage
*.coveragexml
*.trx

## OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
